PUBLIC_SITE_URL="https://obsidia.life/"
STRAPI_URL="https://back.obsidia.life"

# MAIL_USER="obsidialife@gmail.com"
# MAIL_PASSWORD="cvah pnfq gtay dqno"

# MAIL_ADDRESS="kvirika137@gmail.com"
# RESEND_API_KEY="re_KvsHZzqC_LaVEoMb8FEVMTpfkrA4Kve2g"

RESEND_API_KEY="re_dFaG5hNu_HaHJAxg5TcBGvAQkvpoZC42n"
MAIL_ADDRESS="kvirika137@gmail.com"