@use "sass:math";

$default-window-width: 1920 !default;
$default-window-height: 1080 !default;

$default-timing-speed: 0.35s;
$default-timing-func: cubic-bezier(0.33, 1, 0.68, 1);

$square-size: 20px;

$sizes: "xxs", "xs", "s", "m", "l", "xl", "xxl", "3xl", "4xl", "5xl";

$colors: (
  "transparent": transparent,
  "black": #000,
  "white": #fff,
  "gray": #505050,
  "dark-gray": #545454,
  "silver": #bfbfbf,
  "neon": #ba1fff,
);

$fonts: (
  "helvetica": "Helvetica",
  "lemonmilk-regular": "LEMONMILK-Regular",
  "lemonmilk-light": "LEMONMILK-Light",
  "lemonmilk-medium": "LEMONMILK-Medium",
  "lemonmilk-bold": "LEMONMILK-Bold",
  "lemonmilk-regularitalic": "LEMONMILK-RegularItalic",
  "lemonmilk-lightitalic": "LEMONMILK-LightItalic",
  "lemonmilk-mediumitalic": "LEMONMILK-MediumItalic",
  "lemonmilk-bolditalic": "LEMONMILK-BoldItalic.eot",
);
